

// Start About Section
section#about.smoth-section.about
	.container
		+section-title('who','we are')
		.row
			.col-12.col-md-4
				.about-mission
					h5 our mission
					p We’re full service which means we’ve got you covered on design and content right through to digital. You’ll form a lasting relationship with us, collaboration is central to everything we do. We’ll push you out of your comfort zone from time-to-time, but this is where you’ll shine. 
			.col-12.col-md-5
				.about-skills
					.progress-skill
						.progress-label branding
						.progress-percent 82%
						.progress
							div(data-value='82' style='width: 82%').progress-bar

					.progress-skill
						.progress-label web desinge
						.progress-percent 65%
						.progress
							div(data-value='65' style='width: 65%').progress-bar

					.progress-skill
						.progress-label graphic desinge
						.progress-percent 75%
						.progress
							div(data-value='75' style='width: 75%').progress-bar

					.progress-skill
						.progress-label development
						.progress-percent 52%
						.progress
							div(data-value='52' style='width: 52%').progress-bar


					//- .about-link
					//- 	a(href='#') hire us
			
			.col-12.col-md-3
				.about-video
					a(href='www.youtube.com' target='_blank').video-link 
						i.fa.fa-play-circle.video-icon
					span watch our story 


// End About Section 
