// Strat Blog Section 
section#blog.smoth-section.blog
	.container
		+section-title('latest','news')
		.row
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/1.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar-o.date-icon
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4  How to become a freelancer
							

			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/2.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar-o.date-icon
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4 Marketing Strategy tips
							
			
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/3.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar-o.date-icon
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4 create a wordpress theme
		
			
// End Blog Section 