// Start Hero Section 

section#home.smoth-section.hero
  .overlay
  .intro
    .container
      h3 we are creative 
      h1 the way of 
        span.typed
        span.typed-cursor
      p A single place to share, curate and discover visual that tells a story 
      a(href='#').intro-button read more
      a(href='#').intro-button get started
  a(href='#').go-down
    i.fa.fa-chevron-down.go-down-icon

// End Hero Section 
